extends layout

block content
  div.start-wrapper
    h1.heading Podblaster
    p.intro Welcome to Podblaster
    h2.subheading Watch our amazing pods
    a.podlist-link(href="/episodes") Click to see our episodes...

