extends layout

block content
  div.start-wrapper
    h1.heading Podblaster
    p.intro Welcome to Podblaster
    h2.subheading Listen to our amazing podcasts
    a.podlist-link(href="/episodes") Click to see our episodes...

