.volume {
  flex-direction: row;
  width: 80px;
  margin: 0 10px;
}

.volume-knob-indicator:after {
  content: '';
    position: absolute;
    z-index: 2;
    top: 10%;
    left: 50%;
    margin-left: -2px;
    width: 4px;
    height: 30%;
    border-radius: 4px;
    box-shadow: 0 1px 2px 1px rgba(0,0,0,.2);
    background: rgba(255,255,255,.8);
}

.volume-knob-indicator {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  z-index: 1;
  transform: rotate(0deg)
}

.volume-knob {
  position: absolute;
  bottom: 11px;
  right: -88px;
  width: 60px;
  height: 60px;
  border-radius: 100%;
  background-image: -webkit-linear-gradient(top,#666 0,#111 100%);
  background-image: linear-gradient(to bottom,#666 0,#111 100%);
  box-shadow: inset 0 0 20px rgba(0,0,0,.2), inset 0 0 5px rgba(255,255,255,.1), 0 1px 4px 2px rgba(0,0,0,.4);
  z-index: 99;
  cursor: pointer;
}

@media (min-width: 1024px) {
  .volume-knob {
    right: 30px;
    bottom: 20px;
  }
}

.volume-wrapper {
  display: flex;
  position: absolute;
  right: 20px;
  bottom: 17px;
}
